<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="idSalle" id="idSalle">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="idCreneau" id="idCreneau">
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="jour" id="jour">
            <small>Format : "Anée/Mois/Jour"</small>
        </div>
    </div>
</form>