<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Numéro de la salle" id="numSalle">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Places dans cette salle" id="placeSalle">
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Disponibilité de la salle" id="dispo">
            <small>Si une salle est disponible, elle peut-être réservé par des éléves.</small>
        </div>
    </div>
</form>